<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="form-group">
                <ul class="panel">
                    new messages
                </ul>

                <label for="message">Message</label>
                <span class="input-group">
                    <input type="text" class="form-control" id="message" placeholder="Messsage" ng-model="vm.formData.message">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Send</button>
                      </span>
                </span>
            </div>
        </form>
    </div>
</div>
