<div ng-bind="vm.message"></div>

<form>
    <div class="form-group">
      <label for="usernameInput">Username</label>
      <input type="text" id="usernameInput" ng-model="vm.formData.username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="usernameInput">Password</label>
      <input type="password" id="passwordInput" ng-model="vm.formData.password" class="form-control" placeholder="Password">
    </div>
    <button class="btn btn-primary" ng-click="vm.login()">Submit</button>
</form>

<div>Don't have an account? <a ui-sref="register">Create one</a></div>
