<form>
    <div class="form-group">
      <label for="usernameInput">Username</label>
      <input type="text" id="usernameInput" ng-model="vm.formData.username"class="form-control" placeholder="Username">
    </div>
  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" id="emailInput" ng-model="vm.formData.email"class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="passwordInput">Password</label>
    <input type="password" id="passwordInput" ng-model="vm.formData.password"class="form-control" placeholder="Password">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
