<form>
    <div class="form-group">
      <label for="usernameInput">Username</label>
      <input type="text" id="usernameInput" ng-model="vm.formData.username"class="form-control" placeholder="Username">
      <div ng-bind="vm.errors.username" class="text-danger"></div>
    </div>
  <div class="form-group">
    <label for="passwordInput1">Password</label>
    <input type="password" id="passwordInput1" ng-model="vm.formData.password1"class="form-control" placeholder="Password">
    <div ng-bind="vm.errors.password1" class="text-danger"></div>
  </div>
  <div class="form-group">
    <label for="passwordInput2">Reenter Password</label>
    <input type="password" id="passwordInput2" ng-model="vm.formData.password2"class="form-control" placeholder="Reenter Password">
    <div ng-bind="vm.errors.password2" class="text-danger"></div>
  </div>
  <button class="btn btn-primary" ng-click="vm.register()">Submit</button>
</form>
