#banner {
    margin-bottom: 50px;
    background-color: #78CECE;
    height: 180px;
}
#banner header{
    text-align: center;
    margin-top: 30px;
}
#message-window .sent {
    text-align: right;
}

#message-window .message {
    color: #337ab7;
}

#message-window .sent .message {
    color: #3c763d;
}

.user-select{
    cursor: pointer;
}
